.navbar{

	display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 2.5rem;
  gap: 2rem;
  border-bottom:  0.125rem solid var(--black);
  height: 6rem;
  width: 100%;
	background-color:var(--yellow1);;

  ul{
    display: flex;
      justify-content: space-evenly;
      gap: 3rem;
       

      li{
        text-transform: uppercase;
        a{
          color:  var(--black);;
          transition: all 0.3s ease-in-out;
          font-weight: bolder;

          &:hover {
            color:var(--yellow4);;
          }
        }
      }
  }
}